body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;    
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

#logo-image {
    width: 1.5rem;
}

#logo span {
    margin: 0rem 1.5rem;
}

#hero-image {
    width: 100%;
    height: 300px;
    margin: 2rem 0rem;
    background-color: #D4D4D4;
}

header {
    padding: 2rem 0;
    border-bottom: 1px solid #000000;
    justify-content: space-between;
}

nav span {
    margin: 0rem 1.5rem;
}

footer {
    margin: 0rem 0rem 1rem 0rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }