body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;    
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    margin: 1rem 0rem 0rem 0rem;
}
/* nav {
    
} */

footer {
    margin: 0rem 0rem 1rem 0rem;
}